## Server Configuration
PORT=
NODE_ENV=development

# Database Configuration
MONGO_URI= 

# JWT Authentication (Access & Refresh)
JWT_ACCESS_SECRET=your_access_secret_key_here
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_refresh_secret_key_here
JWT_REFRESH_EXPIRES_IN=7d
EMAIL_USERNAME=your.email@gmail.com
EMAIL_PASSWORD=your_app_password_here

# imageKit
IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id